<!-- <router-outlet></router-outlet> -->

<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout fxLayoutAlign="space-between center">
    <span (click)="selected = null" style="cursor: pointer;">ICTUS<span style="font-weight: lighter;">net</span></span>
    <div fxHide fxShow.gt-sm fxLayout fxLayoutAlign="center center" fxLayoutGap="1rem">
      <a mat-button href="https://github.com/TeMU-BSC/ictusnet">
        <fa-icon [icon]="faGithub" style="font-size: x-large; margin-right: 0.5rem;"></fa-icon>
        Github repository
      </a>
      <mat-form-field *ngIf="selected" appareance="outline" style="font-size: small;">
        <mat-label>Documento actual</mat-label>
        <mat-select [(value)]="selected">
          <mat-option></mat-option>
          <mat-option *ngFor="let filename of filenames; let i = index" [value]="filename">({{ i + 1 }}) {{ filename }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <a *ngIf="selected" mat-icon-button href="assets/alejandro_sample/10/{{selected}}.utf8.ann"
        matTooltip="Inspect associated annotation file">.ann</a>
    </div>

    <!-- Mobile menu button -->
    <button mat-icon-button fxHide.gt-sm (click)="menuOpen = !menuOpen">
      <mat-icon *ngIf="!menuOpen">menu</mat-icon>
      <mat-icon *ngIf="menuOpen">close</mat-icon>
    </button>
  </mat-toolbar-row>

  <!-- Mobile menu -->
  <mat-toolbar-row *ngIf="menuOpen" fxLayout="column">
    <mat-form-field *ngIf="selected" appareance="filled" style="font-size: small;">
      <mat-label>Documento actual</mat-label>
      <mat-select [(value)]="selected">
        <mat-option></mat-option>
        <mat-option *ngFor="let filename of filenames" [value]="filename">{{ filename }}</mat-option>
      </mat-select>
    </mat-form-field>
    <a mat-button href="https://github.com/TeMU-BSC/ictusnet">
      <fa-icon [icon]="faGithub" style="font-size: x-large; margin-right: 0.5rem;"></fa-icon>
      Github repository
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<main style="height: calc(100% - 64px);">
  <div *ngIf="!selected" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem" style="padding-top: 5rem;">
    <img src="assets/ictusnet_imagotipo.png" alt="imagotipo ictusnet">
    <h3 style="text-align: center;">
      Tipificador de informes de alta
      <br>
      de pacientes relacionados con ictus
    </h3>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="1rem">
      <button mat-raised-button color="attention" (click)="fileInput.click()" disabled>Cargar informes de alta</button>
      <input type="file" #fileInput multiple accept="text/plain" (change)="uploadFiles($event)" hidden>

      <!-- <button mat-raised-button color="attention" (click)="fileInput.click()">Cargar informes de alta</button>
      <input type="file" #fileInput multiple accept="text/plain" (change)="upload($event)" hidden> -->

      <button mat-raised-button color="primary" (click)="loadDemo()">Probar la demo</button>
    </div>
  </div>

  <app-form *ngIf="selected" [fileId]="selected"></app-form>
</main>

<!-- <app-static></app-static> -->
