<router-outlet></router-outlet>
<mat-toolbar fxLayout fxLayoutAlign="space-evenly center" fxLayoutGap="1rem">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img fxHide.gt-sm src="assets/ictusnet_isotipo.png" alt="ICTUSnet" class="ictusnet-logo" (click)="currentDocument = null">
  <img fxHide fxShow.gt-sm src="assets/ictusnet-horizontal-logo-removebg.png" alt="ICTUSnet" class="ictusnet-logo"
    (click)="currentDocument = null">
  <span class="spacer"></span>
  <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" aria-label="Application mode" matTooltip="Cambiar el modo">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="loadDemo()">
      <mat-icon>science</mat-icon>
      <span>Jugar con la demo</span>
    </button>
    <button mat-menu-item (click)="getDocuments()">
      <mat-icon>developer_board</mat-icon>
      <span>Trabajar en producción</span>
    </button>
  </mat-menu>
  <fa-icon [icon]="faGithub" class="larger" style="margin-right: 1rem;" (click)="goToThisGithubRepo()"></fa-icon>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-drawer-container autosize class="available-height">
  <mat-drawer #drawer mode="side" opened="true">
    <input #fileInput hidden type="file" multiple accept="text/plain" (change)="uploadDocuments($event)">
    <button mat-raised-button color="primary" class="cta-upload"
      matTooltip="Solamente se aceptan ficheros de texto plano"
      [disabled]="uploading"
      (click)="fileInput.click()"
    >
      <mat-icon class="add-icon larger" >add</mat-icon>
      Cargar informes
    </button>
    <mat-selection-list #documentList [multiple]="false" disableRipple>
      <mat-list-option *ngFor="let document of documents; let first = first"
        [value]="document" [selected]="first"
        [matTooltip]="document.filename" matTooltipPosition="right"
        (click)="currentDocument = document">
        <mat-icon mat-list-icon>description</mat-icon>
        {{ document.filename }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <!-- <mat-paginator [length]="resultsLength" pageSize="10" hidePageSize></mat-paginator> -->
  <div *ngIf="uploading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem" style="margin-top: 3rem;">
    <mat-spinner></mat-spinner>
    <p>
      Subiendo informes a la base de datos...
      <br>
      Extrayendo sugerencias automáticas para el formulario...
    </p>
  </div>
  <article *ngIf="currentDocument && !uploading" fxLayout class="fullheight">
    <section fxFlex="50%" class="ictusnet-form scroll">
      <app-form *ngIf="currentDocument" [document]="currentDocument"></app-form>
    </section>
    <section fxFlex="50%" id="wrapper" class="fullheight scroll context">
      <pre class="plaintext wrap">{{ currentDocument?.text }}</pre>
    </section>
  </article>
</mat-drawer-container>
