.mat-display-2 {
  color: $indigo;
}

.mat-toolbar {
  background-color: $lightblue;
}

.mat-tooltip {
  font-size: 0.8rem;
}

// https://github.com/angular/components/issues/12779#issuecomment-462241207
.mat-select-panel mat-option.mat-option {
  margin: 0;
  overflow: visible;
  line-height: initial;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.mat-option-text.mat-option-text {
  white-space: normal;
}
