<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center" fxLayoutGap="0rem"
  ngStyle.gt-sm="height: calc(100% - 64px);">

  <section fxFlex="60%" class="fullheight"
    style="padding: 0 1rem 0 1rem;"
    ngStyle.gt-sm="padding: 0  4rem 0  4rem;"
    ngStyle.gt-md="padding: 0  8rem 0  8rem;"
    ngStyle.gt-lg="padding: 0 16rem 0 16rem;"
    ngStyle.gt-xl="padding: 0 40rem 0 40rem;"
  >
    <form [formGroup]="form" (submit)="download('json')">
      <div fxLayout fxLayoutAlign="center">
        <a href="../../../assets/{{fileId}}.utf8.ann" type="button" mat-button color="accent">
          dev: inspeccionar sugerencias ({{fileId}}.utf8.ann)
        </a>
        <button type="button" mat-button color="secondary" (click)="accordion.closeAll()">
          <mat-icon>unfold_less</mat-icon>Contraer todo
        </button>
        <button type="button" mat-button color="secondary" (click)="accordion.openAll()">
          <mat-icon>unfold_more</mat-icon>Expandir todo
        </button>
      </div>

      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let panel of panels; let index = index; let last = last;"
          [expanded]="expandedStep === index" (opened)="setStep(index)" #expansionPanel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon style="margin-right: 1rem;">{{ panel.icon }}</mat-icon>
              <span class="title">{{ panel.title }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <formly-form [form]="form.at(index)" [model]="model" [fields]="panel.groups" [options]="options[index]">
          </formly-form>

          <mat-action-row>
            <button *ngIf="index !== 0" type="button" mat-button color="secondary"
              (click)="prevStep()">Anterior</button>
            <button *ngIf="!last" type="button" mat-button color="primary" (click)="nextStep()">Siguiente</button>
            <button *ngIf="last" type="button" mat-button color="primary"
              (click)="accordion.closeAll()">Finalizar</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <div fxLayout="column" fxLayoutAlign="stretch center" fxLayoutGap="0.5rem" style="margin-top: 2rem;">
        <button type="submit" mat-button color="primary">
          <mat-icon style="margin-right: 0.3rem;">save_alt</mat-icon>
          Descargar las respuestas en formato JSON
        </button>
        <button type="button" mat-button color="secondary" (click)="confirmReset()">
          o empezar de nuevo
        </button>
      </div>
    </form>
  </section>

  <section fxFlex="40%" class="fullheight plaintext wrap context" (mouseup)="updateEvidence()">{{ text }}</section>


  <!-- <div class="search_input">
    <input placeholder="Search..." #search type="text">
  </div>
  <div class="content_wrapper text" [markjsHighlight]="searchText$ | async" [markjsConfig]="searchConfig"
    [scrollToFirstMarked]="true">{{ text2 }}</div> -->

</div>
