<form [formGroup]="form" (submit)="download()" fxLayout="column" fxLayoutAlign="center center">
  <p>STATIC PROTOTYPE</p>

  <div fxLayout fxLayoutAlign="space-between" class="collapse-expand-buttons">
    <button mat-button type="button" color="secondary" (click)="accordion.closeAll()">
      <mat-icon>unfold_less</mat-icon>Colapsar todo
    </button>
    <button mat-button type="button" color="secondary" (click)="accordion.openAll()">
      <mat-icon>unfold_more</mat-icon>Expandir todo
    </button>
  </div>

  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let panel of panels; let index = index; let last = last;"
      [expanded]="step === index" (opened)="setStep(index)" #expansionPanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="margin-right: 1rem;">{{ panel.icon }}</mat-icon>
          <span class="title">{{ panel.title }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <formly-form [form]="form.at(index)" [model]="model" [fields]="panel.fields" [options]="options[index]">
      </formly-form>

      <mat-action-row>
        <button *ngIf="index !== 0" type="button" mat-button color="secondary"
          (click)="prevStep()">Anterior</button>
        <button *ngIf="!last" type="button" mat-button color="primary" (click)="nextStep()">Siguiente</button>
        <button *ngIf="last" type="button" mat-button color="primary"
          (click)="accordion.closeAll()">Finalizar</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <div fxLayout="column" fxLayoutAlign="stretch center" style="margin-top: 2rem;">
    <button type="submit" mat-button color="primary">
      <mat-icon style="margin-right: 0.3rem;">save_alt</mat-icon>
      Descargar las respuestas en formato JSON
    </button>
    <button type="button" mat-button color="secondary" (click)="reset()">
      o empezar de nuevo
    </button>
  </div>




  <!-- <mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>airport_shuttle</mat-icon>
          <span class="title">Entrada y salida del paciente</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        Inicio de los síntomas
        <mat-icon color="primary" matTooltip="También es válida la última vez que el paciente estuvo asintomático."
          matTooltipPosition="right">info</mat-icon>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaInicioSintomas">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="horaInicioSintomas">
      </mat-form-field>

      <p>Llegada al hospital</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaLlegadaHospital">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="horaLlegadaHospital">
      </mat-form-field>

      <p>Ingreso</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #input type="date" formControlName="fechaIngreso">
      </mat-form-field>

      <p>Alta</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaAlta">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="horaAlta">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>local_hospital</mat-icon>
          <span class="title">Diagnóstico</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Diagnóstico principal</mat-label>
          <mat-select formControlName="diagnosticoPrincipal">
            <mat-option *ngFor="let option of options.diagnosticoPrincipal" [value]="option.value">
              {{ option.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Arterias afectadas</mat-label>
          <mat-select multiple formControlName="arteriasAfectadas">
            <mat-option *ngFor="let option of options.arteriasAfectadas" [value]="option.value">
              {{ option.value }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix color="primary"
            matTooltip='Para diagnóstico principal "ictus isquémico". Acepta múltiples valores.'
            matTooltipPosition="right">info
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Localizaciones</mat-label>
          <mat-select multiple formControlName="localizaciones">
            <mat-option *ngFor="let option of options.localizaciones" [value]="option.value">
              {{ option.value }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix color="primary" matTooltip="Acepta múltiples valores." matTooltipPosition="right">info
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Lateralización</mat-label>
          <mat-select formControlName="lateralizacion">
            <mat-option *ngFor="let option of options.lateralizacion" [value]="option.value">
              {{ option.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Etiología</mat-label>
          <mat-select formControlName="etiologia">
            <mat-option *ngFor="let option of getEtiologiaOptions()" [value]="option.value">
              {{ option.value }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix color="primary" matTooltip='Las opciones varían según el diagnóstico principal.'
            matTooltipPosition="right">info
          </mat-icon>
        </mat-form-field>
      </div>

      <mat-action-row>
        <button mat-button color="secondary" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>healing</mat-icon>
          <span class="title">Procedimientos</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Trombólisis intravenosa
        <button mat-icon-button color="attention" matTooltip="Buscar evidencia en el texto." matTooltipPosition="right">
          <mat-icon>highlight</mat-icon>
        </button>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaTrombolisisIntravenosa">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hora del primer bolus</mat-label>
        <input matInput type="time" formControlName="horaInicioPrimerBolusTrombolisisRtpa">
        <mat-icon matSuffix color="primary" matTooltip='Hora del primer bolus de la trombólisis rtPA'
          matTooltipPosition="right">info
        </mat-icon>
      </mat-form-field>

      <p>Trombólisisintraarterial
        <button mat-icon-button color="attention" matTooltip="Buscar evidencia en el texto." matTooltipPosition="right">
          <mat-icon>highlight</mat-icon>
        </button>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaTrombolisisIntraarterial">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="horaTrombolisisIntraarterial">
      </mat-form-field>

      <p>Trombectomía mecánica
        <button mat-icon-button color="attention" matTooltip="Buscar evidencia en el texto." matTooltipPosition="right">
          <mat-icon>highlight</mat-icon>
        </button>
      </p>

      <div class="subgroup">Inicio</div>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaInicioTrombectomia">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hora de la punción arterial</mat-label>
        <input matInput type="time" formControlName="horaInicioTrombectomia">
        <mat-icon matSuffix color="primary" matTooltip='También llamada groin puncture' matTooltipPosition="right">info
        </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tiempo puerta punción</mat-label>
        <input matInput type="number" formControlName="tiempoPuertaPuncion">
      </mat-form-field>

      <div class="subgroup">Primera serie</div>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaPrimeraSerieTrombectomia">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="horaPrimeraSerieTrombectomia">
      </mat-form-field>

      <div class="subgroup">Recanalización</div>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaRecanalizacion">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="horaRecanalizacion">
      </mat-form-field>

      <div class="subgroup">Finalización</div>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaFinTrombectomia">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="horaFinTrombectomia">
      </mat-form-field>

      <p>TAC craneal
        <button mat-icon-button color="attention" matTooltip="Buscar evidencia en el texto." matTooltipPosition="right">
          <mat-icon>highlight</mat-icon>
        </button>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fechaTac">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="horaTac">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="secondary" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>local_pharmacy</mat-icon>
          <span class="title">Tratamientos</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Anticoagulante
        <mat-icon color="primary" matTooltip="Acepta múltiples valores." matTooltipPosition="right">info
        </mat-icon>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Habitual</mat-label>
        <mat-select multiple formControlName="tratamientosAnticoagulantesHabituales">
          <mat-option *ngFor="let option of options.tratamientoAnticoagulante" [value]="option.value">
            {{ option.value }}
            <span *ngIf="option.comment">({{ option.comment }})</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Al alta</mat-label>
        <mat-select multiple formControlName="tratamientosAnticoagulantesAlta">
          <mat-option *ngFor="let option of options.tratamientoAnticoagulante" [value]="option.value">
            {{ option.value }}
            <span *ngIf="option.comment">({{ option.comment }})</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>Antiagregante
        <mat-icon color="primary" matTooltip="Acepta múltiples valores." matTooltipPosition="right">info
        </mat-icon>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Habitual</mat-label>
        <mat-select multiple formControlName="tratamientosAntiagregantesHabituales">
          <mat-option *ngFor="let option of options.tratamientoAntiagregante" [value]="option.value">
            {{ option.value }}
            <span *ngIf="option.comment">({{ option.comment }})</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Al alta</mat-label>
        <mat-select multiple formControlName="tratamientosAntiagregantesAlta">
          <mat-option *ngFor="let option of options.tratamientoAntiagregante" [value]="option.value">
            {{ option.value }}
            <span *ngIf="option.comment">({{ option.comment }})</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="secondary" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="finish()">Finalizar</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>analytics</mat-icon>
          <span class="title">Escalas de valoración</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>ASPECTS</p>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>ASPECTS</mat-label>
        <input matInput #aspects type="number" formControlName="aspects">
      </mat-form-field>
      <mat-icon matSuffix color="primary" matTooltip="Depende del TAC craneal." matTooltipPosition="right">info
      </mat-icon>

      <p>mRankin</p>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Previa</mat-label>
        <input matInput type="number" formControlName="mRankinPrevia">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Al alta</mat-label>
        <input matInput type="number" formControlName="mRankinAlta">
      </mat-form-field>

      <p>NIHSS</p>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Previa</mat-label>
        <input matInput type="number" formControlName="nihssPrevia">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Al alta</mat-label>
        <input matInput type="number" formControlName="nihssAlta">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="secondary" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="finish()">Finalizar</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

  <div fxLayout="column" fxLayoutAlign="stretch center" fxLayoutGap="1rem" style="margin-top: 3rem;">
    <button type="submit" mat-raised-button color="primary" #downloadButton (click)="download()">
      Descargar respuestas
    </button>
    <button type="button" mat-button color="secondary" (click)="reset()">
      Restablecer formulario a los valores iniciales
    </button>
  </div> -->

</form>
