// form field color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgb(255, 255, 240);  // very light yellow
  // background-color: rgb(240, 250, 255);  // very light blue
  border-radius: 0.3rem;
}

// expansion panel
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  align-items: center;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}
.example-headers-align .mat-form-field {
  margin-left: 0.5rem;
}
.title {
  margin-left: 1rem;
}

// common elements
hr {
  border: 1px solid black;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}
mat-icon {
  margin-left: 0.3rem;
}
p {
  font-weight: bolder;
  margin-top: 0.5rem;
}
.short-field {
  width: 7rem;
}

.collapse-expand-buttons {
  margin: 1rem 0 1rem 0;
}
