<div fxLayout fxLayoutAlign="space-between" class="collapse-expand-buttons">
  <button mat-button color="secondary" (click)="accordion.closeAll()">
    <mat-icon style="padding: 0;">unfold_less</mat-icon>Colapsar todo
  </button>
  <button mat-button color="secondary" (click)="accordion.openAll()">
    <mat-icon style="padding: 0;">unfold_more</mat-icon>Expandir todo
  </button>
</div>

<form [formGroup]="form">
  <mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>airport_shuttle</mat-icon>
          <span class="title">Entrada y salida del paciente</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Inicio de los síntomas</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #hora type="time">
      </mat-form-field>
      <mat-icon color="info" matTooltip="También es válida la última vez que el paciente estuvo asintomático."
        matTooltipPosition="right">info</mat-icon>

      <p>Llegada al hospital</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #hora type="time">
      </mat-form-field>

      <p>Ingreso</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #input type="date">
      </mat-form-field>

      <p>Alta</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #hora type="time">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>local_hospital</mat-icon>
          <span class="title">Diagnóstico</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Diagnóstico principal</mat-label>
          <mat-select #diagnosticoPrincipal value="ictus">
            <mat-option value="ictus">ictus isquémico</mat-option>
            <mat-option value="ataque">ataque isquémico transitorio</mat-option>
            <mat-option value="hemorragia">hemorragia cerabral</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Arteria afectada</mat-label>
          <mat-select #arteriaAfectada multiple
            [value]="diagnosticoPrincipal.value !== 'ictus' ? null : arteriaAfectada.value"
            [disabled]="diagnosticoPrincipal.value !== 'ictus'">
            <mat-option value="acc">arteria carótida común (o ACC) o primitiva</mat-option>
            <mat-option value="acm">arteria cerebral media (o ACM)</mat-option>
            <mat-option value="pica">arteria cerebelosa posteroinferior (o PICA)</mat-option>
          </mat-select>
          <mat-icon matSuffix color="primary"
            matTooltip='Para diagnóstico principal "ictus isquémico". Acepta múltiples valores.'
            matTooltipPosition="right">info
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Localización</mat-label>
          <mat-select multiple>
            <mat-option value="taci">infarto total de circulación anterior (TACI)</mat-option>
            <mat-option value="paci">infarto parcial de circulación anterior (PACI)</mat-option>
            <mat-option value="laci">infarto lacunar (LACI) o síndrome lacunar</mat-option>
            <mat-option value="poci">infarto de circulación posterior (POCI)</mat-option>
          </mat-select>
          <mat-icon matSuffix color="primary" matTooltip="Acepta múltiples valores." matTooltipPosition="right">info
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Lateralización</mat-label>
          <mat-select #lateralizacion value="">
            <mat-option value="izquierda">izquierda</mat-option>
            <mat-option value="derecha">derecha</mat-option>
            <mat-option value="ambas">ambas</mat-option>
            <mat-option value="indeterminada">indeterminada</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Etiología</mat-label>
          <mat-select #etiologia *ngIf="['ictus', 'ataque'].includes(diagnosticoPrincipal.value)">
            <mat-option value="aterotrombótico / aterosclerótico">aterotrombótico / aterosclerótico</mat-option>
            <mat-option value="cardioembólico (CE)">cardioembólico (CE)</mat-option>
            <mat-option value="lacunar">lacunar</mat-option>
          </mat-select>
          <mat-select #etiologia *ngIf="['hemorragia'].includes(diagnosticoPrincipal.value)">
            <mat-option value="hipertensiva">hipertensiva</mat-option>
            <mat-option value="secundaria a malformación vascular / aneurisma">secundaria a malformación vascular /
              aneurisma
            </mat-option>
            <mat-option value="indeterminada">indeterminada</mat-option>
          </mat-select>
          <mat-icon matSuffix color="primary" matTooltip='Las opciones varían según el diagnóstico principal.'
            matTooltipPosition="right">info
          </mat-icon>
        </mat-form-field>
      </div>

      <mat-action-row>
        <button mat-button color="secondary" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>healing</mat-icon>
          <span class="title">Procedimientos y pruebas</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Trombólisis intravenosa</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #horaPrimerBolusTrombolisisRtpa type="time">
        <mat-icon matSuffix color="primary" matTooltip='Hora del primer bolus de la trombólisis rtPA'
          matTooltipPosition="right">info
        </mat-icon>
      </mat-form-field>

      <p>Trombólisis intraaerterial</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #hora type="time">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Procedimiento</mat-label>
        <input matInput #prodecimientoTrombolisisIntraarterial>
      </mat-form-field>

      <p>Inicio de la trombectomía mecánica</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #hora type="time">
        <mat-icon matSuffix color="primary" matTooltip='Hora de la punción arterial (groin puncture)'
          matTooltipPosition="right">info
        </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Regla tiempo punción (¿núm. entero?)</mat-label>
        <input matInput #tiempoPuertaPuncion type="number">
      </mat-form-field>

      <p>Primera serie de la trombectomía mecánica</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #hora type="time">
      </mat-form-field>

      <p>Recanalización para la trombectomía mecánica</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #hora type="time">
      </mat-form-field>

      <p>Fin de la trombectomía mecánica</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #hora type="time">
      </mat-form-field>

      <p>TAC craneal</p>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput #fecha type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Hora</mat-label>
        <input matInput #hora type="time">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="secondary" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>analytics</mat-icon>
          <span class="title">Tratamientos y escalas de valoración</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>ASPECTS</p>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>ASPECTS</mat-label>
        <input matInput #aspects type="number">
      </mat-form-field>
      <mat-icon matSuffix color="primary" matTooltip="Depende del TAC craneal." matTooltipPosition="right">info
      </mat-icon>

      <p>Tratamiento antiagregante</p>
      <mat-form-field appearance="outline">
        <mat-label>Habitual</mat-label>
        <mat-select multiple>
          <mat-option value="clopidogrel">clopidogrel (plavix)</mat-option>
          <mat-option value="ticlopidine">ticlopidine (tiklid)</mat-option>
          <mat-option value="acetylsalicylic acid, combinations with proton pump inhibitors">
            acetylsalicylic acid, combinations with proton pump inhibitors
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Al alta</mat-label>
        <mat-select multiple>
          <mat-option value="clopidogrel">clopidogrel (plavix)</mat-option>
          <mat-option value="ticlopidine">ticlopidine (tiklid)</mat-option>
          <mat-option value="acetylsalicylic acid, combinations with proton pump inhibitors">
            acetylsalicylic acid, combinations with proton pump inhibitors
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon matSuffix color="primary" matTooltip="Acepta múltiples valores." matTooltipPosition="right">info
      </mat-icon>

      <p>Tratamiento anticoagulante</p>
      <mat-form-field appearance="outline">
        <mat-label>Habitual</mat-label>
        <mat-select multiple>
          <mat-option value="acenocumarol">acenocumarol (sintrom)</mat-option>
          <mat-option value="warfarin">warfarin (aldocumar)</mat-option>
          <mat-option value="parnaparin">parnaparin</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Al alta</mat-label>
        <mat-select multiple>
          <mat-option value="acenocumarol">acenocumarol (sintrom)</mat-option>
          <mat-option value="warfarin">warfarin (aldocumar)</mat-option>
          <mat-option value="parnaparin">parnaparin</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon matSuffix color="primary" matTooltip="Acepta múltiples valores." matTooltipPosition="right">info
      </mat-icon>

      <p>mRankin</p>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Previa</mat-label>
        <input matInput #fecha type="number">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Al alta</mat-label>
        <input matInput #hora type="number">
      </mat-form-field>

      <p>NIHSS</p>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Previa</mat-label>
        <input matInput #fecha type="number">
      </mat-form-field>
      <mat-form-field appearance="outline" class="short-field">
        <mat-label>Al alta</mat-label>
        <input matInput #hora type="number">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="secondary" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="finish()">Finalizar</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</form>

<div fxLayout fxLayoutAlign="space-between" class="collapse-expand-buttons">
  <button mat-button color="secondary" (click)="accordion.closeAll()">
    <mat-icon style="padding: 0;">unfold_less</mat-icon>Colapsar todo
  </button>
  <button mat-button color="secondary" (click)="accordion.openAll()">
    <mat-icon style="padding: 0;">unfold_more</mat-icon>Expandir todo
  </button>
</div>

<div fxLayout="column" fxLayoutAlign="stretch center" fxLayoutGap="1rem" style="margin-top: 3rem;">
  <button type="submit" mat-raised-button color="primary" #downloadButton (click)="download()">
    Descargar respuestas
  </button>
  <button type="button" mat-button color="secondary" (click)="confirm()">
    Restablecer formulario a los valores iniciales
  </button>
</div>
