<!-- <router-outlet></router-outlet> -->

<!-- <app-upload></app-upload> -->

<!-- <p>Demo instructions: Select some part of the text.</p> -->

<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1rem">
  <section fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="1rem" style="height: 100vh; overflow-y: scroll;">
    <div (mouseup)="showSelection()"
      style="display: inline-block; white-space: pre-wrap; font-family: 'Roboto Mono', monospace; padding: 1em;">
      {{ text }}
    </div>
    <!-- <button *ngIf="selectedText" (click)="saveAnn()" style="color: red;">Save this single annotation</button>
    <pre>{{ savedSingleAnnotation }}</pre> -->
  </section>

  <section fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="1rem" style="overflow-y: scroll;">
    <!-- <form style="border: 2px solid green; display: inline-block; padding: 1em;">
      <div *ngFor="let variable of variables">
        <label for="{{ variable.variable }}">
          {{ variable.originalName }}
          <span *ngIf="variable.comments" style="color: lightslategrey;">{{ variable?.comments }}</span>
        </label>
        <input *ngIf="selectedText" type="text" [value]="selectedText" readonly>
        <hr>
      </div>
    </form> -->

    <app-dynamic-form></app-dynamic-form>

  </section>
</div>
