<!-- <router-outlet></router-outlet> -->

<div *ngIf="!text" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="7rem">
  <h1>ICTUSnet web app</h1>
  <input hidden type="file" #uploader (change)="loadFile($event)" accept=".txt,.ann" multiple>
  <!-- <button mat-raised-button color="primary" (click)="uploader.click()">Load a real example document (work in progress)</button> -->
  <button mat-raised-button color="accent" (click)="loadRealExample(321108781)">Load real example (321108781.utf.txt)</button>
  <button mat-raised-button color="accent" (click)="loadRealExample(321687159)">Load real example (321687159.utf.txt)</button>
</div>

<div *ngIf="text" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1rem"
  style="height: 100%; padding: 1rem;">
  <section fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="1rem">
    <textarea (select)="updateEvidence($event)" readonly>{{ text }}</textarea>
  </section>
  <section fxFlex="50%" style="overflow-y: scroll;">
    <form [formGroup]="form" (submit)="submit()" style="padding-left: 2rem;">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
    </form>
  </section>
</div>
