<!-- <router-outlet></router-outlet> -->

<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout.lt-sm="column" ngStyle.lt-sm="height: 128px;">
    <span fxLayout fxLayoutAlign="center center" fxLayoutGap="1rem"
      style="font-family: 'Roboto Mono', monospace; height: 100%;">
      <img src="assets/logo_ictusnet.png" alt=""
        style="height: 60%; background-color: rgb(240, 250, 255); border-radius: 50%;">
      <span>ICTUSnet web app</span>
    </span>
    <button mat-button [matMenuTriggerFor]="menu" style="margin-left: 5rem;">Cambiar de ejemplo</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setFileId('321108781')" [ngClass]="{'current': fileId === '321108781'}">321108781.utf8.txt</button>
      <button mat-menu-item (click)="setFileId('321687159')" [ngClass]="{'current': fileId === '321687159'}">321687159.utf8.txt</button>
    </mat-menu>

    <span style="flex: 1 1 auto;"></span>

    <a mat-button href="https://github.com/TeMU-BSC/ictusnet">
      <fa-icon [icon]="faGithubAlt" style="font-size: x-large; margin-right: 0.5rem;"></fa-icon>
      Github repo
    </a>
    <!-- <mat-icon>github</mat-icon>
    <mat-icon>home</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>

<!-- <h1 style="text-align: center; font-size: 2rem; font-family: 'Roboto Mono', monospace; padding: 2rem;">ICTUSnet</h1> -->
<!-- <p>Herramienta web para tipificar informes de alta de pacientes relacionados con ictus.</p> -->

<!-- <app-static></app-static> -->
<app-expansion [fileId]="fileId"></app-expansion>

<!-- <app-inputaddons></app-inputaddons> -->
