<!-- <h1 mat-dialog-title>The selected "{{ data.title }}" is a:</h1>
<div mat-dialog-content>
  <mat-radio-group [(ngModel)]="pickedField" style="display: flex; flex-direction: column; margin: 15px 0;">
    <mat-radio-button *ngFor="let field of data.fields" [value]="field" style="margin: 5px;">
      {{ field }}
    </mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button (click)="dialogRef.close()">
    {{ data.cancel }}
  </button>
  <button mat-raised-button [color]="data.color" (click)="dialogRef.close(this.pickedField)" cdkFocusInitial>
    {{ data.buttonName | titlecase }}
  </button>
</div> -->
