@import "./styles/ictusnet-theme.scss";
@import "./styles/mat-colors-additional.scss";
@import "./styles/mat-components-hacks.scss";
@import "./styles/markjs.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $lightblue;
}

// https://stackblitz.com/edit/angular-xrrwqb?file=styles.css
.multiline-tooltip {
  white-space: pre-line;
}

.group-title {
  font-weight: 500 !important;
}

.inner-icon {
  margin-right: 0.5rem;
}
