<div *ngIf="isLoading" fxLayout fxLayoutAlign="center center" class="fullheight">
  <mat-progress-bar mode="indeterminate" style="width: 50%"></mat-progress-bar>
</div>
<div [fxHide]="isLoading" fxLayout="column" fxLayoutGap="0.5em" fxLayout.gt-sm="row" fxLayoutAlign="space-between"
  fxLayoutAlign.gt-sm="space-between center" fxLayoutGap.gt-sm="0rem" class="fullheight">
  <section id="wrapper" class="fullheight scroll context" fxFlex="45%" fxFlexOrder.gt-sm="2">
    <pre class="plaintext wrap">{{ document.text }}</pre>
  </section>
  <section ngClass="scroll" ngClass.gt-sm="fullheight scroll" style="padding: 0 1vw;" ngStyle.gt-sm="padding: 0 5vw;"
    ngStyle.gt-md="padding: 0 7vw;" fxFlex="55%" fxFlexOrder.gt-sm="1">
    <form [formGroup]="form">
      <header fxLayout fxLayoutAlign="space-between">
        <button type="button" mat-icon-button color="primary" class="unfold-icon" matTooltip="Contraer paneles"
          (click)="accordion.closeAll()">
          <mat-icon>unfold_less</mat-icon>
        </button>
        <button type="button" mat-icon-button color="primary" class="unfold-icon" matTooltip="Expandir paneles"
          (click)="accordion.openAll()">
          <mat-icon>unfold_more</mat-icon>
        </button>
      </header>
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let panel of panels; let index = index; let first = first; let last = last;"
          [expanded]="step === index" (opened)="setStep(index)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="icon">
                {{ panel.icon }}
              </mat-icon>
              <span class="title">
                {{ panel.title }}
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <formly-form [form]="form.at(index)" [model]="model" [fields]="panel.groups" [options]="options[index]">
          </formly-form>
          <mat-action-row>
            <button *ngIf="!first" type="button" mat-button color="secondary" (click)="prevStep()">
              Anterior
            </button>
            <button *ngIf="!last" type="button" mat-button color="primary" (click)="nextStep()">
              Siguiente
            </button>
            <button *ngIf="last" type="button" mat-button color="primary" (click)="accordion.closeAll()">
              Finalizar
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <footer fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="0.5em" style="margin: 2em 0;">
        <button type="button" mat-raised-button color="accent" (click)="download('json')">
          Descargar las respuestas en formato JSON
        </button>
        <button type="button" mat-button color="primary" (click)="confirmReset()">
          o empezar de nuevo
        </button>
      </footer>
    </form>
  </section>
</div>
