<form [formGroup]="form">
  <section fxLayout fxLayoutGap="0.5rem" class="actions">
    <button type="button" mat-icon-button matTooltip="Deshacer" (click)="confirmBeforeReset()">
      <mat-icon>undo</mat-icon>
    </button>
    <button type="button" mat-icon-button matTooltip="Marcar como {{ report.completed ? ' no ' : '' }}completado" (click)="toggleComplete()">
      <mat-icon>
        {{ report.completed ? 'unpublished' : 'check_circle' }}
      </mat-icon>
    </button>
    <span class="spacer"></span>
    <button type="button" mat-icon-button matTooltip="Contraer paneles" (click)="accordion.closeAll()">
      <mat-icon>unfold_less</mat-icon>
    </button>
    <button type="button" mat-icon-button matTooltip="Expandir paneles" (click)="accordion.openAll()">
      <mat-icon>unfold_more</mat-icon>
    </button>
  </section>
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let panel of panels; let index = index; let first = first; let last = last;"
      [expanded]="step === index" (opened)="setStep(index)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="panel-icon">
            {{ panel.icon }}
          </mat-icon>
          <span class="panel-title">
            {{ panel.title }}
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <formly-form [form]="form.at(index)" [model]="model" [fields]="panel.groups" [options]="options[index]">
      </formly-form>
      <mat-action-row>
        <button *ngIf="!first" type="button" mat-button color="secondary" (click)="prevStep()">
          Anterior
        </button>
        <button *ngIf="!last" type="button" mat-button color="primary" (click)="nextStep()">
          Siguiente
        </button>
        <button *ngIf="last" type="button" mat-button color="primary" (click)="accordion.closeAll()">
          Finalizar
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</form>
