.panel-icon {
  margin-right: 1rem;
}
.panel-title {
  font-weight: 500;
}

.unfold-icon {
  margin: 0.5rem;
}

.fullheight {
  height: 100%;
}

.scroll {
  overflow-y: scroll;
}

.plaintext {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  padding: 1.6rem;
}

.wrap {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
