.actions {
  margin: 1.37rem 0;
}

.panel-icon {
  margin-right: 1rem;
}

.panel-title {
  font-weight: 500;
}

.auxiliar-hint-button {
  font-size: 1.25rem;
  background-color: #283593;
  background-clip: content-box;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}