<mat-form-field appearance="fill">
  <mat-label>Choose file</mat-label>
  <ngx-mat-file-input #fileInput placeholder="TXT file only" [accept]="'.txt'" multiple autofilled (change)="loadText($event)">
  </ngx-mat-file-input>
  <button mat-icon-button matSuffix *ngIf="!fileInput.empty" (click)="fileInput.clear($event)">
    <mat-icon>clear</mat-icon>
  </button>
  <mat-hint>Accepted extensions: .txt</mat-hint>
</mat-form-field>

<textarea (select)=" selectSpan($event)" readonly>{{ text }}</textarea>
