<section fxLayout fxLayoutGap="0.5rem">
  <button type="button" mat-icon-button matTooltip="Marcar como{{ report.completed ? ' no ' : ' ' }}completado" (click)="toggleComplete()">
    <mat-icon [ngClass]="report.completed ? '' : 'material-icons-outlined'" [ngStyle]="{'color': report.completed ? 'green' : 'inherit'}">
      assignment_turned_in
    </mat-icon>
  </button>
  <button type="button" mat-icon-button matTooltip="Descargar" (click)="downloadFormAsJson()">
    <mat-icon>save_alt</mat-icon>
  </button>
  <button type="button" mat-icon-button matTooltip="Restaurar" (click)="restoreInitialForm()">
    <mat-icon>restore</mat-icon>
  </button>
  <button type="button" mat-icon-button matTooltip="Borrar" (click)="deleteReport()">
    <mat-icon class="material-icons-outlined">delete</mat-icon>
  </button>
  <span class="spacer"></span>
  <button type="button" mat-icon-button matTooltip="Contraer paneles" (click)="form.accordion.closeAll()">
    <mat-icon>unfold_less</mat-icon>
  </button>
  <button type="button" mat-icon-button matTooltip="Expandir paneles" (click)="form.accordion.openAll()">
    <mat-icon>unfold_more</mat-icon>
  </button>
</section>
